/* ----- Global ----- */
body {
    font-family: Georgia, Arial, sans-serif;
    color: #111;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    max-width: 1250px;
    padding: 40px 20px;
    line-height: 1.6;
}

h1 {
    font-weight: 400;
}

h2, h3 {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitle {
    color: #777;
    font-size: 12px;
    margin-top: -10px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

/* ----- Intro Section ----- */
.intro {
    margin-top: 40px;
}

.item {
    display: grid;
    grid-template-columns: 160px 1fr;
    column-gap: 20px;
    margin: 6px 0;
    font-size: 14px;
}

.group{
    max-width: 550px;
    width: 100%;
    margin: 0 auto 24px auto;
}

.date {
    text-align: right;
    white-space: nowrap;
}

.desc {
    text-align: left;
}

/* ----- Projects ----- */
.layout{
    display:flex;
    align-items:flex-start;
}

@media (max-width: 768px) {

    .layout {
        justify-content: center;
    }

    .toc {
        display:none;
    }

    .image-container {
        width:100vw;
        max-width:1000px;
        margin:0 auto;
    }
    
    .image-container img{
        width:100%;
        display:block;
    }

}

.image-container {
    width:70vw;
    max-width:1000px;
    margin:0 auto;
}

.image-container img{
    width:100%;
    display:block;
    border: 1px solid #eee;
}

.toc{
    width:30vw;
    margin-right:40px;
    font-size: clamp(4px, 1vw, 14px); 
}

.toc-item{
    margin-bottom:12px;
    color:#999;
    cursor:pointer;
}

.toc-item.active{
    color:#111;
    font-weight:600;
}

.controls {
    display:flex;
    justify-content:space-between;
    width:70vw;
    max-width:1000px;
    margin:30px auto 60px;
}

.arrow {
    width:48px;
    height:48px;
    border:1px solid #111;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    user-select:none;
    font-size: 18px;

}

#prev .icon {
    transform: translateX(-1px);
  }
#next .icon {
    transform: translateX(2px);
  }

.arrow:hover {
    background: #111;
    color: #fff;
}


/* ----- Footer ----- */
footer {
    font-size: 14px;
    color: #555;
    margin-top: 60px;
}
